body{
    width: 100%;
    height: 100vh;    
}


#header {
    height: 10vh;
}

#logoHeaderSobreCalu {
    height: 10vh;
    width: 8vw;
}

#main {
    height: 80vh;
}

#imgSection {
    height: 75vh;
}

#footer {
    height: 10vh;
}

#ogoFooterSobreCalu {
    height: 10vh;
    width: 8vw;
}