/* PÁGINA INDEX ----------------------------------------------------- */

#bodyIndex{
    width: 100%;
    height: 104vh;    
}


#headerSobreCalu {
    height: 12vh;
}

#logoHeaderIndex {
    height: 12vh;
    width: 10vw;
}

#mainIndex {
    height: 80vh;
}

#footerIndex {
    height: 12vh;
}

#logoFooterIndex {
    height: 12vh;
    width: 10vw;
}

/* PÁGINA SOBRE CALU --------------------------------------------------- */

#bodySobreCalu{
    width: 100%;
    height: 104vh;    
}


#headerSobreCalu {
    height: 12vh;
}

#logoHeaderSobreCalu {
    height: 12vh;
    width: 10vw;
}

#mainSobreCalu {
    height: 80vh;
}

#imgSection {
    height: 60vh;
}

#footerSobreCalu {
    height: 12vh;
}

#logoFooterSobreCalu {
    height: 12vh;
    width: 10vw;
}