body {
    height: 100%;
    width: 100%;

    header {
        height: 15%;

        #logoHeader {
            height: 7rem;
            width: 10rem;
        }

        nav {
            
            ul {

                li {
                    &:hover {
                        background-color: map-get($colors, main);
                    }

                    a {
                        &:hover {
                            color: $color !important;
                        }
                    }
                }
            }
        }
    }
}