#mainIndex {
    height: 70%;
    width: 100%;

    #estiloImagenes {
        padding-right: 0;

        #imagen {
            padding-right: 0;
            margin-bottom: 10px;

            @mixin sizes ($ancho, $alto) {
                width: $ancho;
                height: $alto;
            }

            #estiloImagenesUno {
                @include sizes (100%, 100%)
            }

        }


    }


}